body, dl, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0 }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:500 }
html { min-height:100%; color:#666; background:#fafafa }
body { font:12px/1.5 "Hiragino sans gb",'Helvetica neue','Helvetica',Tahoma; -webkit-user-select: none; user-select: none; }
button, input, select, textarea { font-family: "Hiragino sans gb",'Helvetica neue','Helvetica',Tahoma;  overflow:visible; }
ol, ul { list-style:none }
ins, a { text-decoration:none; color:#666; }
img { border: none; vertical-align:top; }
.ui-wrap { max-width:640px; min-width:320px; margin:0 auto; }
.ui-clear:before, .ui-clear:after { display:table; content:"" }
.ui-clear:after { clear:both }

.wrap { max-width:640px;  margin:0 auto; }
.hd { margin:0 0 20px; }
/*hd*/
.ui-hd { height:48px; line-height:45px; background:#3E4145; }
.ui-hd-title { text-align:center; color:#fff; font-size:16px; }
.components { }
    .components-item { position:relative; z-index:1; height:50px; line-height:50px; border-bottom:solid 1px #ccc; }
        .components a { display:block; color:#666; text-decoration:none; padding:0 10px; }
        /*.components a:hover { background:#f9f9f9; }*/
        .components-item-tit { font-size:14px; }
        .components-item-time { position: absolute; right:10px; top:0; font-size:12px; color:#999; }
.components li:last-child { border:none; }